{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" src="{{ url_for('static', filename='twitterSearch.js') }}"></script>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <a class="twitter-timeline"  href="https://twitter.com/hashtag/fakenews" data-widget-id="939343056591032321">#fakenews Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div
        <div class="col-sm-12">
          <div class="panel-body">
            <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Please enter a valid input.
            </div>
            <form action="http://localhost:8000/check_text" method="post">
              <div class="form-group">
                <label for="comment">Text to Test:</label>
                <input class="form-control" type="text" id="inputText" name="inputText" value="{{ text }}"></input>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" value="Check"></input>
              </div>
            </form>
          </div>
          <div class="panel-body">
            {% if text|tojson|safe %}
            {% if output|tojson|safe != "\"\"" %}
            <h2>Output: <span class="label label-default">{{ output|tojson|safe }}</span></h2>
            {% endif %}
            {% if classifier|tojson|safe != "\"\"" %}
            <h3>Category: <span class="label label-default">{{ classifier|tojson|safe }}</span></h3>
            {% endif %}
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
